<div>
  <img src="#" alt="wreath">
  <form id="loginForm" action="/auth/login" method="get">
    <button type="submit">Login</button>
  </form>
  <form id="signupForm" action="/auth/signup" method="get">
    <button type="submit">Signup</button>
  </form>
</div>
