<div id="drawResult" class='draw_result'>
  <p>You picked <span><%= @receiver.display_name %></span>.</p>
  <p><%= @receiver.first_name %> likes:</p>
  <ul>
    <% @receiver_likes.each do |like| %>
      <li><%= like.content %></li>
    <% end %>
  </ul>
  <p>Shhhh! Remember, this is our little secret.</p>
</div>
